useDynLib(pec)
export("pec",
       "crps",
       "ibs",
       "ipcw",
       "cindex",
       "R2",
       "resolvesplitMethod",
       ## "ConfScoreSurv",
       "predictSurvProb",
       "predictEventProb",
       ## "calPlot",
       "selectCox",
       "pecCforest",
       "resolvesplitMethod",
       ## "plotSurvProb",
       "plotPredictSurvProb",
       "plotPredictEventProb",
       "coxboost")

import(prodlim,rms,foreach,survival)

S3method(cindex,default)
S3method(cindex,list)

S3method(pec,list)
S3method(pec,cph)
S3method(pec,coxph)
S3method(pec,aalen)
S3method(pec,prodlim)
S3method(pec,survfit)

S3method(ipcw,cox)
S3method(ipcw,marginal)
S3method(ipcw,none)
S3method(ipcw,nonpar)
S3method(ipcw,aalen)

S3method(print,R2)
S3method(print,crps)

S3method(plot,pec)
S3method(print,pec)
S3method(summary,pec)

S3method(plot,confScoreSurv)
S3method(print,confScoreSurv)
S3method(summary,confScoreSurv)

S3method(plot,Cindex)
S3method(print,Cindex)
S3method(summary,Cindex)

S3method(predictSurvProb,aalen)
S3method(predictSurvProb,cox.aalen)
S3method(predictSurvProb,coxph)
S3method(predictSurvProb,cph)
S3method(predictSurvProb,default)
S3method(predictSurvProb,rsf)
S3method(predictSurvProb,matrix)
S3method(predictSurvProb,mfp)
S3method(predictSurvProb,pecCforest)
S3method(predictSurvProb,phnnet)
S3method(predictSurvProb,prodlim)
S3method(predictSurvProb,psm)
S3method(predictSurvProb,rpart)
S3method(predictSurvProb,selectCox)
S3method(predictSurvProb,survfit)
S3method(predictSurvProb,survnnet)
## S3method(predictSurvProb,ARR)
S3method(predictSurvProb,riskRegression)

S3method(predictEventProb,prodlim)
## S3method(predictEventProb,compRisk)
## S3method(predictEventProb,LRR)
## S3method(predictEventProb,ARR)
S3method(predictEventProb,FGR)
S3method(predictEventProb,riskRegression)
S3method(predictEventProb,CauseSpecificCox)
S3method(predictEventProb,matrix)
S3method(predictEventProb,coxboost)
S3method(predictEventProb,rfsrc)
